body {
    background-color: rgb(255, 224, 184);
    color: rgb(141, 86, 4);
    font-family: Agency FB;
    font-size: large;
    text-align: center;

}

header, main, footer {
    padding: 2vh 4vw;
   }

header {
    margin:0  auto;
    width: 75%;
    border: 5px solid rgb(141, 86, 4);
    background-color: rgb(247, 182, 121);
    color: bisque;
    margin-top: 20%;
    box-sizing: border-box;
}

h2, p, ul li {
    margin-bottom: 40px;
}

ul li a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(204, 115, 46);
}

li {
    color: bisque;
}

a {
    color: rgb(187, 16, 87);
}

#flexbox {
    display: flex;
    padding: 50px;
    margin: 10%;
    background-color:rgb(247, 182, 121);
    margin-top: auto;
}

h1 {
    padding: 10px;
}

p {
    font-family: Agency FB; 
}


.col{
    width: 50%;
}

