
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img {
    width: 5rem;
}

body {
    background-color: var(--bgc-01);
}

header {
    background-color: var(--bgc-02);
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    align-items: end;
}

.navi {
    justify-self: end;
}

header nav li {
    display: inline;
    justify-self: end;
    padding-right: 1.7rem;

}

header nav a {
    color: black;
    text-decoration: none;
    font-family: 210 Dongwhacaek;
}

:root {
    --bgc-01: #ffffff;
    --bgc-02: #DBB5AF;
    --txt-01: hsl(0, 0%, 90%);
}

grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}