header img{
    width: 3rem;
}

body{
    background-color: var(--bgc-01);
}

header{
    background-color: var(--bgc-02);
}

:root {
    --bgc-01: #ffffff;
    --bgc-02: #DBB5AF;
    --txt-01: hsl(0, 0%, 90%);
}